@import "tailwindcss";
/*font pretendard 설정하기 */
:root {
  --background: rgb(255, 255, 255);
  --color-black: #1b1716;
}

body {
  background: var(--background);
  color: var(--color-black);
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

@theme {
  --color-black: #1b1716;
  --color-gray200: rgb(217, 217, 217);
}
