@import "tailwindcss";

:root {
  --background: rgb(255, 255, 255);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

@theme {
  --color-gray200: rgb(217, 217, 217);
}
