@import "tailwindcss";
/*font pretendard 설정하기 */
:root {
  --background: rgb(255, 255, 255);
  --color-black: #1b1716;
  --bg-black: #141415;
}

body {
  background: var(--background);
  color: var(--color-black);
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

button,
select {
  cursor: pointer;
}

@theme {
  --color-black: #1b1716;
  --color-bg-black: #141415;
  --color-gray800: rgba(255, 255, 255, 0.08);
  --color-gray200: rgb(217, 217, 217);
}

@layer utilities {
  .footer_description h3 {
    text-align: center;
    color: white;
    width: fit-content;
    font-size: 18px;
  }
  .footer_description span {
    text-align: center;
    font-size: 14px;
    color: white;
    width: fit-content;
    padding: 0px 8px;
    border-right: 1px solid gray;
  }
  .footer_description span:first-child {
    padding: 0px 8px 0px 0px;
  }
  .footer_description span:last-child {
    border-right: none;
  }
}
